@using TrungMoTo.Models
@{
    Layout = null;
}
@{
    ViewBag.Title = "Login";
}
@model IEnumerable<CustomerModel>
<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <script src="@Url.Content("~/Content/JS/jquery-3.3.1.min.js")"></script>
        <script>
            $(document).ready(function ($) {
                var value = '@Request.RequestContext.HttpContext.Session["username"]';
                console.log(value);
            });
        </script>
    </head>
    <body>
        <table border="1">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CustomerId)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Birthday)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.Province)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tel)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                </tr>
            }
        </table>
        <form action="~/Login/Logout" method="post">
            <input type="submit" value="Logout" />
        </form>
    </body>
    
    
</html>